slack workflow.json
{
  "name": "slack workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -112
      ],
      "id": "711077a4-abe8-4352-9ec4-74c2fa789ef0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LrAX2ukQFqGHFOP-ybGRZWTH0eHooTFL_TWCw75rJVk",
          "mode": "list",
          "cachedResultName": "retail n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LrAX2ukQFqGHFOP-ybGRZWTH0eHooTFL_TWCw75rJVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 652663233,
          "mode": "list",
          "cachedResultName": "retail_merged",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LrAX2ukQFqGHFOP-ybGRZWTH0eHooTFL_TWCw75rJVk/edit#gid=652663233"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -112
      ],
      "id": "cf9ffaac-05ff-4e9c-b1e7-821b8a2a24fa",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NWS3SisprqJNci0g",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55e57298-b562-4c5d-9fb6-e1e3bcbb72d1",
              "leftValue": "={{ $json.Net_Margin_pct }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        -112
      ],
      "id": "9435c3b0-33e2-4c42-95d5-bc944d45deca",
      "name": "If"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        368,
        -112
      ],
      "id": "f837d425-24d4-4ac7-835f-5cf95c2dd545",
      "name": "Limit"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AN8PTHXJ9",
          "mode": "list",
          "cachedResultName": "margin-alerts"
        },
        "text": "=⚠️ Low Margin Alert Order ID: {{ $json[\"Order ID\"] }} State: {{ $json[\"State\"] }} Margin: {{ $json[\"Net_Margin_pct\"] }}% Sales: ${{ $json[\"Sales\"] }} Profit: ${{ $json[\"Profit\"] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        592,
        -112
      ],
      "id": "fed8dbd9-5110-4e60-81e5-f8e36db00498",
      "name": "Send a message",
      "webhookId": "e31015c4-3919-413e-9767-0bc019821641",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Wm8Dta97KCAFElof",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ykm8DgWrVo5M6JQ0",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a3c62f98-95ca-49bf-9778-192378580b13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "134740417accd0f5c33b6e153aaa9e325ba27e55e18e6e980fb9c6c472dbdfc3"
  },
  "id": "6E5gni46pU3EawYP",
  "tags": []
}